.adminContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}
.adminMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.terminal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 55vw;
  background-color: #303030;
}

.send{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #E50914;
}

.recibed{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 55vw;
  background-color: #303030;
}